<div class="contenedor-pagos">

    <div class="contenedor-form">
       
        <table class="table table-striped">  
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>

                </tr>
            </thead>
            <tbody>
          
            </tbody>
        </table>
    </div>
</div>
