<div class="contenedor">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/homeadministrador"]'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/administradorregistrarempleado"]'>Registrar Empleado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/administradornuevoadmin"]'>Crear Nuevo Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/consultarempleados"]'>Consultar Empleado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/consultarpacientes"]'>Consultar Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/pagosempleados"]'>Pagar a los Empleado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"[routerLink]='["/actualizarestado"]'>Actualizar Estado del Empleado</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>