<div class="contenedor-registro-empleado">
    <div class= "contenedor-form">
            <h2>Registro de Empleado</h2>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre Usuario</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Usuario">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CC</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CC">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Edad</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Edad">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Celular</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Celular">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Salario</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Salario">
            </div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected disabled>Sexo</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
                <option value="3">Indefinido</option>
            </select>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
            </div>
            <button type="button" id="boton" class="btn btn-danger" >Aceptar</button>
    </div>
</div>
