<div class="contenedor">
    <div class="contenedor-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usser</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usser">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
          </div>
          
    <button type="button" id="boton" class="btn btn-danger">Iniciar Sesión</button>
  <button type="button" id="boton" class="btn btn-danger" >Regístrate</button>
    </div>

</div>

