
.contenedor{
    width: 26%;
    height: 300px;
    margin-left: 37%;
    margin-top: 150px;
    background-color: rgba(20, 24, 24, 0.205);
    padding-top: 30px;
}
.contenedor-form{
    height: 240px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-weight: bold;
}

#boton{
    margin: 5px;
}