<div class="contenedor-nuevo-admin">
    <div class="contenedor-form-admin">
        <h2>Nuevo Administrador</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre Usuario</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Usuario">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
        </div>
        <div class="centrarboton">
            <button type="button" id="boton" class="btn btn-danger">Aceptar</button>
        </div>
        
    </div>
</div>
