<div class="contenedor-pagos">
    <div class="contenedor-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cedula">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" disabled id="exampleFormControlInput1" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" class="form-control" disabled id="exampleFormControlInput1" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Salario</label>
            <input type="text" class="form-control" disabled id="exampleFormControlInput1" placeholder="Salario">
        </div>

        <div class="centrarboton">
            <button type="button" id="boton" class="btn btn-danger">Pagar</button>
        </div>

    </div>

</div>
