<div class="contenedor">
    <div class="contenedor-form">
        <h1>Regístrate</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre Usuario</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Usuario">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">CC</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CC">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Edad</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Edad">
        </div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected disabled>Sexo</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
            <option value="3">Indefinido</option>
        </select>
        <button type="button" id="boton" class="btn btn-danger" >Aceptar</button>
    </div>

</div>