<div class="contenedor">

    <div class="contenedor-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cedula</label>
            <input type="text" class="form-control"  id="exampleFormControlInput1" placeholder="Cedula">
        </div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected disabled>Estado</option>
            <option value="1">Activo</option>
            <option value="2">Desactivo</option>
        </select>

        <div class="centrarboton">
            <button type="button" id="boton" class="btn btn-danger">Actualizar Estado</button>
        </div>
    </div>

</div>
