<div class="contenedor-cons-empleado">
    <div class="barra-busqueda">
    <div class="mb-3">
        
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cedula">
    </div>
    <div class="boton">
        <button type="button" id="boton" class="btn btn-danger" >Buscar</button>
    </div>
    
    </div>
    
    <div class="contenedor-form">
       
        <table class="table table-striped">  
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CC</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Salario</th>
                </tr>
            </thead>
            <tbody>
          
            </tbody>
        </table>
    </div>
</div>
