<div class="contenedor">
    <p class="texto">La administración consiste en el proceso o actividad de controlar, manejar u organizar una organización o
        negocio. Los administradores son personas encargadas de gestionar estas actividades, que normalmente suponen
        sistemas en los que están implicadas empleados o colaboradores, inputs y outputs (resultados).
        <br><br>
        Un buen administrador sabe cómo hacer que su organización o negocio sea eficaz y que consiga los objetivos que
        se han propuesto. En el caso de los negocios privados, la meta última es maximizar los beneficios económicos. En
        el caso de las organizaciones públicas los objetivos pueden ser diversos.</p>
</div>