<div class="contenedor-diagnostico">
    <div class="contenedor-form">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cedula">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Diagnostico</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="centrarboton">
            <button type="button" id="boton" class="btn btn-danger">Aceptar</button>
        </div>
    </div>
</div>